.about {
  background-color: $mainColorBg;
}

.about__wrapper {
  display: flex;
  justify-content: center;

  @include vp-1365 {
    flex-direction: column;
  }
}

.about__inner-wrapper {
  margin-left: 163px;
  margin-right: 85px;
  margin-top: 163px;
  padding-bottom: 257px;
  max-width: 355px;

  @include vp-1365 {
    margin: 0 133px;
    margin-top: 100px;
    padding-bottom: 33px;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    margin: 65px 15px 0 15px;
    padding-bottom: 26px;
    align-items: flex-start;
  }
}

.about__inner-wrapper h2 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  @include font(600, 48px, 58px);
  font-family: $alumniSans;
  letter-spacing: 1.44px;

  @include vp-1365 {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1.26px;
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 5px;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.96px;
  }
}

.about__inner-wrapper span {
  display: inline-block;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  line-height: 27px;

  @include vp-1365 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin: 0;
    margin-bottom: 22px;
  }
}

.about__text-wrapper p {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  @include font(300, 16px, 24px);

  @include vp-1365 {
    text-align: center;
  }

  @include vp-767 {
    text-align: start;
    padding-right: 30px;
  }
}

.about__text-wrapper p:not(:first-child) {
  @include vp-1365 {
    margin: 0;
    display: none;
  }
}

.about__multi-wrapper {
  position: relative;
  margin-top: 120px;
  margin-right: 103px;
  margin-bottom: 240px;

  @include vp-1365 {
    margin: 0 auto;
    margin-bottom: 185px;
  }

  @include vp-767 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 73px;
  }
}

.about__multi-wrapper img {
  width: 100%;
  height: 401px;
  object-fit: cover;

  @include vp-1365 {
    width: 678px;
    height: 345px;
  }

  @include vp-767 {
    width: 100%;
    object-fit: cover;
    height: 313px;
  }
}

.about__video {
  position: absolute;

  width: 364px;
  height: 228px;
  top: 288px;
  left: -63px;

  @include vp-1365 {
    width: 266px;
    height: 167px;
    top: 261px;
    left: 206px;
  }

  @include vp-767 {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 40px;
  }

  &::after {
    content: "";
    position: absolute;

    background-color: rgba(20, 54, 122, 0.5);

    inset: 0;
  }
}

.about__video img {
  width: 100%;
  height: 100%;
}

.about__video-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  fill: #ffffff;

  @include vp-1365 {
    width: 73px;
    height: 73px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;

    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 70px;
    height: 70px;
    padding: 2px;

    background-image: linear-gradient(81deg, #003d85 0%, #b80027 89%);

    @include vp-1365 {
      width: 52px;
      height: 52px;
    }
  }

  &::after {
    width: 100px;
    height: 100px;
    padding: 2px;

    background-image: -webkit-gradient(
      linear,
      right bottom,
      left top,
      from(rgba(237, 2, 53, 0.2)),
      to(rgba(0, 61, 183, 0.2))
    );

    mask: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, #ffffff)
        )
      content-box,
      -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff));
    mask-composite: xor;

    @include vp-1365 {
      width: 73px;
      height: 73px;
    }
  }

  &:hover,
  &:focus {
    fill: #102654;

    &::before {
      background-color: #ffffff;
      background-image: none;
    }

    &::after {
      background-color: #102654;
      background-image: none;
    }
  }

  &:active {
    fill: #102654;

    &::before {
      width: 58px;
      height: 58px;

      background-color: #ffffff;
      background-image: none;

      @include vp-1365 {
        width: 40px;
        height: 40px;
      }
    }

    &::after {
      background-color: #102654;
      background-image: none;
    }
  }

  &--disabled {
    opacity: 0.4;
    pointer-events: none;

    fill: #102654;

    &::before {
      background-color: #ffffff;
      background-image: none;
    }

    &::after {
      background-color: #102654;
      background-image: none;
    }
  }
}

.about__video-button svg {
  @include vp-1365 {
    width: 12px;
    height: 12px;
  }
}

.about__video-player {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: none;
  width: 100%;
  height: 100%;
}

.about__video-player.is-show {
  display: block;
  z-index: 6;
}

.about__video-media {
  border: none;
  position: absolute;
  width: 364px;
  height: 228px;
  top: 288px;
  left: -50px;

  @include vp-1365 {
    width: 266px;
    height: 167px;
    top: 261px;
    left: 206px;
  }

  @include vp-767 {
    position: relative;
    width: 100%;
    height: 167px;
    top: 0;
    left: 0;
  }
}
