.benefits-card__number {
  max-width: 108px;

  @include vp-767 {
    margin: 0 auto;
  }
}

.benefits-card__number span {
  display: block;

  font-size: 14px;
  line-height: 21px;
  color: #2e35ac;

  &:first-child {
    font-weight: 700;
    font-size: 71px;
    line-height: 107px;
    color: transparent;
    background-color: #2e35ac;
    background-image: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
    background-clip: text;

    @include vp-1365 {
      font-size: 58px;
      line-height: 89px;
    }
  }
}

.benefits-card__number span + span {
  margin-top: -21px;
}

.benefits-card--main {
  display: block;
  margin-top: 36px;
  max-height: 307px;
  grid-column: 2/3;
  padding: 36px 20px 20px;
  text-align: center;
  color: $mainColor;
  grid-row: 1 /span 2;
  background-color: #1c3374;

  @include vp-1365 {
    grid-column: 1/-1;
    margin: 17px auto 0;
    padding: 15px 115px 30px;
    justify-self: center;
    max-width: 442px;
    grid-row: 2/3;
  }

  @include vp-767 {
    margin: 23px auto 5px;
    padding: 20px 55px 43px;
    grid-row: 3/4;
  }
}

.benefits-card--main .benefits-card__number {
  max-width: 100%;
}

.benefits-card__number h3 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 26px;

  @include vp-1365 {
    margin-bottom: 20px;
  }
}

.benefits-card__number--main h3 {
  @include vp-1365 {
    font-size: 22px;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.benefits-card--main span {
  font-size: 26px;
  line-height: 39px;
  color: $textOnDarkBg;

  @include vp-1365 {
    font-size: 22px;
    line-height: 33px;
  }

  &:first-child {
    font-weight: 700;
    font-size: 74px;
    line-height: 111px;
    color: #ffffff;

    @include vp-1365 {
      font-size: 74px;
      line-height: 100px;
    }
  }
}

.benefits-card--main span + span {
  margin-top: -16px;
  margin-bottom: 32px;

  @include vp-1365 {
    margin-top: -21px;
    margin-bottom: 16px;
  }

  @include vp-767 {
    margin-top: -25px;
    margin-bottom: 9px;
  }
}

.benefits-card--main p {
  line-height: 24px;
}

.benefits-card__description h3 {
  margin: 22px 0 6px;

  font-weight: 700;
  font-size: 22px;
  line-height: 33px;

  @include vp-1365 {
    margin: 15px 0 2px;

    font-size: 20px;
    line-height: 30px;
  }

  @include vp-767 {
    margin-top: 8px;
  }
}

.benefits-card__description p {
  margin: 0;

  @include font(300, 16px, 22px);
}

