.events {
  background-color: $mainColorBg;
}

.events__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 106px;
  margin-top: 123px;

  @include vp-1365 {
    margin-top: 95px;
    margin-bottom: 101px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
    margin-top: 64px;
    padding: 0 15px;
  }
}

.events__game-description {
  background-color: $bannersBg;
  width: 500px;
  color: $textOnDarkBg;
  display: grid;
  grid-template-columns: 182px 1fr;
  gap: 16px 70px;
  align-content: start;
  padding: 83px 77px;

  @include vp-1365 {
    width: 292px;
    grid-template-columns: 120px 1fr;
    padding: 45px;
    gap: 5px 26px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    align-items: center;
    padding-bottom: 50px;
  }
}

.events__game-description dl {
  margin: 0;

  @include vp-767 {
    margin-left: 5px;
    justify-self: self-start;
  }
}

.events__game-description h2 {
  margin-top: 3px;
  margin-bottom: 0;
  text-align: center;
  padding: 0;
  padding-left: 10px;

  font-family: $alumniSans;
  text-transform: uppercase;
  letter-spacing: 2.46px;

  @include font(600, 82px, 78px);

  @include vp-1365 {
    font-size: 48px;
    line-height: 46px;
    padding: 0;
    margin-top: 7px;
  }

  @include vp-767 {
    margin-top: 0;
    padding-left: 0;
    max-width: 120px;
    justify-self: end;
  }
}

.events__game-description dt {
  padding-bottom: 7px;
  max-width: 90px;

  font-size: 18px;
  line-height: 21px;

  @include vp-1365 {
    padding-top: 3px;
    padding-bottom: 0;

    font-size: 12px;
    line-height: 18px;
  }
}

.events__game-description dd {
  width: fit-content;
  margin: 0;

  @include font(700, 40px, 47px);

  border-top: 1px solid $borderOnDarkBg;

  &:not(:last-child) {
    margin-bottom: 20px;

    @include vp-1365 {
      margin-bottom: 0;
    }
  }

  @include vp-1365 {
    font-size: 24px;
    line-height: 27px;
  }
}

.events__game-description span {
  display: inline-block;
  max-width: 37px;

  @include font(400, 14px, 16px);

  @include vp-1365 {
    font-size: 10px;
    line-height: 15px;
  }
}

.events__game-description p {
  grid-column: 1/-1;
  margin: 0;

  @include font(300, 18px, 150%);

  @include vp-1365 {
    padding-top: 3px;
    font-size: 12px;
    line-height: 18px;
  }

  @include vp-767 {
    padding-right: 15px;
  }
}

.events__link {
  grid-column: 1/-1;
  width: 100%;
  text-align: center;
  margin-top: 31px;
  padding: 24px 20px;
  color: $textOnDarkBg;
  border: 4px $borderOnDarkBg solid;

  &:hover,
  &:focus-visible {
    background-color: $mainColor;
    color: $additionalAccentText;
  }

  &:active {
    color: $mainColorText;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @include vp-1365 {
    margin-top: 25px;
    margin-left: 0;
    padding: 12px 50px;
    border: 2px $borderOnDarkBg solid;

    font-size: 10px;
    line-height: 12px;
  }

  @include vp-767 {
    margin-top: 23px;
    padding: 12px 40px;
  }
}

.events__image {
  @include vp-767 {
    width: 100%;
  }
}

.events__image img {
  height: 100%;
  object-fit: cover;

  @include vp-1365 {
    width: 100%;
    height: 100%;
  }

  @include vp-767 {
    width: 100%;
    object-fit: cover;
    height: 292px;
  }
}
