.events {
  background-color: $mainColorBg;
}

.events__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 106px;
  margin-top: 120px;

  @include vp-1365 {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 63px;
    margin-top: 70px;
  }
}

.events__game-description {
  background-color: $bannersBg;
  color: $textOnDarkBg;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 2fr 1fr 1fr;
  align-items: center;
}

.events__title {
  max-width: 201px;
  max-height: 158px;
  margin: 85px 50px 0 78px;
  padding: 0;

  font-family: $alumniSans;
  text-transform: uppercase;

  @include font(600, 82px, 78px);

  @include vp-1365 {
    justify-self: flex-end;
    max-width: 117px;
    margin: 48px 29px 0 45px;

    font-size: 48px;
    line-height: 46px;
  }
}

.events__info {
  display: flex;
  flex-direction: column;
  margin: 83px 79px 0 0;
  gap: 20px 0;

  max-height: 158px;

  @include vp-1365 {
    margin: 48px 45px 0 0;
    gap: 13px 0;
  }
}

.events__date > span {
  display: block;
  line-height: 27px;
  height: 17px;
  margin-bottom: 13px;

  @include vp-1365 {
    font-size: 12px;
    line-height: 18px;
    height: 9px;
    margin-bottom: 7px;
  }
}

.events__date-description {
  display: grid;
  grid-template-columns: auto auto;
  border-top: 1px $borderOnDarkBg solid;
  padding-top: 10px;

  @include vp-1365 {
    padding-top: 5px;
  }
}

.events__date-description p {
  margin: 0;
  grid-row: span 2;
  justify-self: start;
  align-self: center;

  @include font(700, 40px, 27px);

  @include vp-1365 {
    font-size: 24px;
    line-height: 17px;
  }
}

.events__date-description span {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  align-self: flex-end;

  @include vp-1365 {
    height: 12px;
    font-size: 10px;
    line-height: 15px;
  }
}

.events__text {
  grid-column: span 2;
  margin: 0;
  margin-top: 30px;
  margin-left: 78px;
  line-height: 27px;
  margin-bottom: 40px;
  align-self: flex-end;

  @include vp-1365 {
    font-size: 12px;
    line-height: 18px;
    margin: 10px 60px 0 45px;
    align-self: flex-start;
  }
}

.events__link {
  grid-column: span 2;
  justify-self: center;
  align-self: flex-start;
  padding: 29px 113px;
  color: $textOnDarkBg;
  border: 4px $borderOnDarkBg solid;

  &:hover,
  &:focus-visible {
    background-color: $mainColor;
    color: $additionalAccentText;
  }

  &:active {
    color: $mainColorText;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @include vp-1365 {
    padding: 12px 50px;
    border: 2px $borderOnDarkBg solid;

    font-size: 10px;
    line-height: 12px;
  }
}

