.hero {
  width: 100%;
  font-family: $alumniSans;
  color: $textOnDarkBg;
}

.hero__wrapper {
  margin: 0 auto;
  margin-bottom: 50px;
  margin-right: 200px;
  display: flex;
  justify-content: center;
  gap: 64px;


  @include vp-1365 {
    margin: 0 auto;
    gap: 20px;
    margin-bottom: 82px;
  }

  @include vp-767 {
    gap: 0;
    margin-bottom: 75px;
  }
}

.hero__wrapper img {
  margin-top: -40px;
  width: 500px;
  height: 556px;
  object-fit: cover;

  @include vp-1365 {
    width: 324px;
    height: 390px;
    margin: 0;
    margin-top: -7px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__inner-wrapper {
  position: relative;
  margin-top: 74px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include vp-1365 {
    margin: 0;
    padding: 0;
    align-items: flex-end;
  }

  @include vp-767 {
    width: 100%;
  }
}

.hero__description {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero__description p {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding-right: 50px;
  max-width: 133px;
  align-self: flex-end;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 1.44px;
  text-transform: lowercase;

  @include vp-1365 {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 16px;
    margin-right: 5px;
    font-size: 34px;
    line-height: 41px;
  }

  @include vp-767 {
    margin-bottom: 19px;
    font-size: 28px;
    line-height: 34px;
  }
}

.hero__description h2 {
  max-width: 300px;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  align-self: flex-end;
  text-align: end;
  font-size: 92px;
  line-height: 110px;
  font-weight: 600;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  stroke-width: 2px;

  @include vp-1365 {
    font-size: 72px;
    line-height: 85px;
    stroke-width: 2px;
    margin-bottom: 30px;
    margin-left: 25px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    letter-spacing: 3.6px;
    padding-left: 70px;
  }
}

.hero__info-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  left: -80px;
  bottom: 82px;
  font-family: $robotoCondensed;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: end;

  @include vp-1365 {
    left: -5px;
    bottom: 55px;
  }

  @include vp-767 {
    bottom: 55px;
    left: 0;
  }
}


.hero__button {
  text-align: center;
  max-width: 230px;
  width: 100%;
  padding: 20px 36px;
  color: $textOnDarkBg;
  border: 4px $borderOnDarkBg solid;

  @include vp-1365 {
    max-width: 190px;
    padding: 20px 32px;
  }

  @include vp-767 {
    max-width: 100%;
    width: 100%;
    padding: 20px 70px;
  }

  &:hover,
  &:focus-visible {
    background-color: $mainColor;
    color: $additionalAccentText;
  }

  &:active {
    color: $mainColorText;
  }

  &:disabled {
    opacity: 0.5;
  }
}
