.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 100;
  gap: 10px;
  padding-left: 122px;
}

.main-nav__link {
  font-family: $alumniSans;
  margin-left: 0;

  @include font(600, 26px, 31px);
  letter-spacing: 0.78px;
  color: $textOnDarkBg;

  @include vp-1365 {
    @include font(700, 24px, 29px);
    letter-spacing: 0.48px;
  }

  @include vp-767 {
    @include font(600, 20px, 24px);
    letter-spacing: 0.4px;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: end;
  gap: 15px;
}

.main-nav__link-logo {
  padding-right: 30px;
  position: absolute;
  top: 40px;
  left: 0;

  @include vp-767 {
    top: 20px;
  }
}

.main-nav__link:hover:not(:disabled),
.main-nav__link:focus-visible:not(:disabled) {
  opacity: 0.8;
}

.main-nav__link:active:not(:disabled) {
  opacity: 0.3;
}
