.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__logo {
  height: 44px;

  @include vp-1365 {
    width: 82px;
    height: 17px;
  }

  @include vp-767 {
    width: 69px;
    height: 24px;
  }
}

.main-nav__link {
  font-family: $alumniSans;

  @include font(600, 26px, 31px);
  letter-spacing: 0.78px;
  color: $textOnDarkBg;

  @include vp-1365 {
    @include font(700, 24px, 29px);
    letter-spacing: 0.48px;
  }

  @include vp-767 {
    @include font(600, 20px, 24px);
    letter-spacing: 0.4px;
  }
}
