.menu {
  display: flex;
  gap: 0 40px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include vp-1365 {
    gap: 30px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    gap: 20px 0;
    width: 100%;
  }
}

.menu__item {
  @include vp-767 {
    width: 50%;

    &:first-child {
      margin-left: 50%;
    }

    &:nth-child(odd) {
      padding-left: 15px;
    }
  }
}

.menu__link {
  padding: 3px 0;

  @include font(400, 14px, 16px);
  color: $textOnDarkBg;

  @include vp-767 {
    font-size: 16px;
    line-height: 19px;
  }

  @include hover {
    border-bottom: 1px $borderOnDarkBg solid;
  }

  &:focus-visible {
    outline: 1px $borderOnDarkBg solid;
  }

  &--disabled {
    opacity: 0.4;
    cursor: default;
  }
}
