.questions-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.questions-list__item {
  width: 100%;
  position: relative;
  border-bottom: 1px rgba(28, 51, 116, 0.2) solid;
}

.questions-list__item:first-child {
  border-top: 1px rgba(28, 51, 116, 0.2) solid;
}

.questions-list__item h3 {
  margin: 0;
  padding: 0;
  padding-right: 50px;
  margin-top: 32px;
  margin-bottom: 14px;

  @include font(500, 24px, 28px);

  @include vp-1365 {
    max-width: 600px;
  }

  @include vp-767 {
    width: 238px;
    margin-top: 20px;
    padding: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
  }
}

.questions-list__item p {
  margin: 0;
  margin-bottom: 20px;
  width: 660px;
  font-weight: 300;
  line-height: 25px;

  @include vp-1365 {
    padding-right: 90px;
  }

  @include vp-767 {
    margin-bottom: 15px;
    padding: 0;
    width: 290px;
    font-size: 16px;
    line-height: 22px;
  }
}

.questions-list__button {
  margin: 0;
  padding: 0;
  border: 1px #1c3374 solid;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 25px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 1px;
    background-color: #1c3374;
    top: 50%;
    left: 25%;

    @include vp-767 {
      width: 12px;
      left: 25%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 18px;
    background-color: #1c3374;
    top: 11px;
    left: 19px;
    transform: rotate(180deg);

    @include vp-767 {
      height: 12px;
      top: 9px;
      left: 14px;
    }
  }

  @include vp-767 {
    width: 32px;
    height: 32px;
    top: 40%;
  }
}

.questions-list__button.is-active {
  &::before {
    display: none;
  }

  @include vp-767 {
    top: 18%;
  }
}

.questions-list__button:hover:not(:disabled),
.questions-list__button:focus-visible:not(:disabled) {
  background-color: #1c3374;

  &::after {
    background-color: $mainColor;
  }

  &::before {
    background-color: $mainColor;
  }
}

.questions-list__button svg {
  @include vp-767 {
    width: 32px;
    height: 32px;
  }
}

.questions-list__button:disabled {
  opacity: 0.2;
  pointer-events: none;
}
