.social-list {
  max-width: 100px;
  display: flex;
  gap: 11px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    justify-content: start;

    column-span: all;
  }
}

.social-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;

  @include vp-767 {
    margin-top: 10px;
  }
}

.social-list__link {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $mainColorBg;

  &:hover {
    background-color: $additionalAccentText;
  }

  &:focus-visible {
    outline: none;
    background-color: $additionalAccentText;
  }

  &:active {
    background-color: $mainColorText;
  }
}

.social-list__link:hover .social-list__icon {
  fill: $mainColorBg;
}

.social-list__link:focus-visible .social-list__icon {
  outline: none;
  fill: $mainColorBg;
}

.social-list__link:active .social-list__icon {
  fill: $mainColorBg;
}
