.social-list {
  display: flex;
  gap: 11px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $mainColorBg;

  @include vp-767 {
    margin-top: 40px;
  }
}

.social-list__link {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

