.stock-card {
  color: #1c3374;
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.24deg, #b80027 304deg, #003d85 360deg);
  outline: none;
}

.stock-card h3 {
  margin: 0;
  margin-bottom: 5px;

  @include font(700, 26px, 32px);

  @include vp-1365 {
    margin-bottom: 10px;
  }
}

.stock-card p {
  margin: 0;
  margin-bottom: 75px;

  font-size: 16px;
  line-height: 22px;

  @include vp-1365 {
    margin-bottom: 50px;
  }

  @include vp-767 {
    margin-bottom: 35px;
  }
}

.stock-card__link {
  display: block;
  color: inherit;
  max-width: 68px;

  @include font(700, 12px, 14px);
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border-bottom: 1px #1c3374 solid;

  @include vp-767 {
    margin: 0 auto;
  }
}

.stock-card__link:hover:not(:disabled) {
  opacity: 0.8;
}

.stock-card__link:focus-visible:not(:disabled) {
  max-width: 80px;
  padding: 5px;
  border: 1px $mainColorText solid;
  outline: none;
}

.stock-card__link:active:not(:disabled) {
  opacity: 1;
}

.stock-card__link--disabled {
  opacity: 0.5;
  pointer-events: none;
}
