// COLORS

//text
$mainColorText: #102654;
$textOnDarkBg: #ffffff;
$additionalAccentText: #103aae;
$additionalGradientText: linear-gradient(#d10a42, #0041ca);

//buttons
$borderOnDarkBg: #ffffff;
$borderOnLightBg: #102654;
$fillBtn: linear-gradient(#ed0233, #003eb7);

//background
$mainColorBg: #ffffff;
$additionallyBg: #f8f9fc;
$bannersBg: #ed0233;
$darkBg: #102654;
$heroBg: linear-gradient(#003d85, #b80027);
$footerBg: #030a1a;


//icons
$iconOnDarkBg: #ffffff;
$iconOnLightBg: #102654;


//form
$mainColor: #ffffff;
$errorColor: #ff121f;
