// COLORS

//text
$mainColorText: #102654;
$textOnDarkBg: #ffffff;
$additionalAccentText: #103aae;
$additionalGradientText: linear-gradient(#d10a42, #0041ca);

//buttons
$borderOnDarkBg: #ffffff;
$borderOnLightBg: #102654;
$fillBtn: linear-gradient(#ed0233, #003eb7);

//background
$mainColorBg: #ffffff;
$additionallyBg: #f8f9fc;
$bannersBg: #ed0233;
$darkBg: #102654;
$heroBg: linear-gradient(#003d85, #b80027);
$dark-cerulean-to-venetian-red: conic-gradient(from 151deg at 16.03% 39.06%, #003D85 32.23633825778961deg, #B80027 313.3060026168823deg);
$footerBg: #030a1a;


//icons
$iconOnDarkBg: #ffffff;
$iconOnLightBg: #102654;


//form
$mainColor: #ffffff;
$errorColor: #ff121f;


// Typography

$ff-rouble: "Rouble", "Arial", sans-serif;

$alumniSans: "AlumniSans", "Arial", sans-serif;
$robotoCondensed: "RobotoCondensed", "Tahoma", sans-serif;

$fzDefault: 18px;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;


// Viewports

$vp-320: 320px;
$vp-768: 768px;
$vp-1366: 1200px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
